BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
SortIncludes: false
ReflowComments: true
AlignAfterOpenBracket: Align
ColumnLimit: 100
AccessModifierOffset: -4
NamespaceIndentation: None
Cpp11BracedListStyle: true
IncludeBlocks: Preserve
